@import "tailwindcss";

@theme {
  --color-white: #FFF;
  --color-black: #000;
  --color-background: #F2F2F2;
  --color-primary: #880E4F;
  --color-primaryDark: #560027;
  --color-primaryLight: #BC477B;
}

:root {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
}

@layer base {
  input[type="password"], input[type="email"] {
    border: 1px solid var(--color-primaryLight);
    line-height: 2.5rem;
    border-radius: 4px;
    padding: 0 2.5rem 0 0.5rem;

   @apply ring-primaryLight focus:outline-none focus:ring;
  }

  button {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 3.75rem;
    border: none;
    cursor: pointer;

    @apply hover:opacity-90;
  }
}
